# Entornos virtuales y caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Archivos de configuración local y variables de entorno
.env

# Archivos de registro (Logs de auditoría local)
*.log
auditoria_notas.log

# Base de datos local (Para evitar que se pisen los datos de cada quien en GitHub)
bd/sistema_de_notas.db